<!-- Start Navbar Area -->
<header id="header">
    <!-- <div class="crake-nav {{location == '/digital-marketing' ? 'marketing-navbar' : ''}}">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/{{logo}}" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav nav ml-auto">
                        <li>
                            <a routerLink="/home" routerLinkActive="active">Home</a>
                        </li>

                        <li>
                            <a routerLink="/features" routerLinkActive="active">Features</a>
                        </li>
                        <li>
                            <a routerLink="/about-us" routerLinkActive="active">About</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="contact-us" class="nav-link" routerLinkActive="active">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div> -->
</header>
<!-- End Navbar Area -->

<app-sidebar></app-sidebar>

<!-- Start Search Box -->
<!-- End Search Box -->